.tableCrudButton {
    -fx-background-radius: 0;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -fx-box-border;
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.tableCrudButton:pressed {
    -fx-background-color: derive(-fx-base,-6%);
}

.tableCrudButton:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-border-width: 0 0 0 0;
}